## Import Cell

In [2]:
from Mortgage_Package.financial.creditRating import *
from Mortgage_Package.financial.debtServiceRatio import *
from Mortgage_Package.mortgages.mortgages import *
from Mortgage_Package.mortgages.mortgage_estimator import *

## Subpackage 1: Financials
### Module 1: Credit Score

__When a buyer provides his/her age, residence status, and income, this module can assign points proportionally to calculate a credit score, which would be useful knowledge to a lender__

In [14]:
buyer1 = creditRating(20, "OWN", 60000)

buyer2 = creditRating(30, "rent", 100000)

__Returns the buyer's score based on age__

In [15]:
print(buyer1.convert_age())

print(buyer2.convert_age())

100
200

__Return's the buyer's score based on residence status__

In [16]:
print(buyer1.convert_home())

print(buyer2.convert_home())

225
100

__Returns the buyer's score based on based on income__

In [17]:
print(buyer1.convert_income())

print(buyer2.convert_income())

260
260

__Determines if the buyer is approved for a loan. The cutoff for approval is a score of 500__

In [19]:
print(score(buyer1))
print(score(buyer2))

Credit Score: 585. Approved for loan.
585
Credit Score: 560. Approved for loan.
560

### Module 2: Maximum Affordability Calculator

__Using a buyer's income, annual property tax, annual heat cost, annual car payment, annual credit card payment, proposed downpayment, and target home price, this module can determine the maximum annual and monthly mortgage payments a buyer can make. In addition, the lender will also be able to determine what the buyer's expected mortgage offer would be.__

In [9]:
buyer1_dsr = debtServiceRatio(75000, 3600, 2400, 3600, 3000, 30000, 200000)

buyer2_dsr = debtServiceRatio(80000, 1500, 2000, 500, 1000, 40000, 500000)

__Returns maximum mortgage lender can offer a buyer__

In [10]:
mortgage_max(buyer1_dsr)

600000.0

In [11]:
mortgage_max(buyer2_dsr)

800000.0

__This shows a lender the expected mortgage payments a buyer would have to make with his current financial characteristics. This is based on the Gross Debt Service and Total Debt Service__

In [12]:
min_dp(buyer1_dsr, pri = True)

Max Annual Spending: $24000.0
Max Annual Mortgage Payment: $18000.0
Max Monthly Mortgage Payment: $1500.0
Your downpayment: $18000.0
Max Annual Spending: $30000.0
Max Annual Mortgage Payment: $17400.0
Max Monthly Mortgage Payment: $1450.0
Your downpayment: $17400.0

17400.0

In [13]:
min_dp(buyer2_dsr, pri = True)

Max Annual Spending: $25600.0
Max Annual Mortgage Payment: $22100.0
Max Monthly Mortgage Payment: $1841.6666666666667
Your downpayment: $22100.0
Max Annual Spending: $32000.0
Max Annual Mortgage Payment: $27000.0
Max Monthly Mortgage Payment: $2250.0
Your downpayment: $27000.0

22100.0

## Subpackage 2: Mortgage
### Module 1: Real Estate

##### This module includes a superclass (RealEstate) for real estate objects and a child class for residential type real estates (Residential(RealEstate)). The objects can be used to store valuable property information from which dataframes can be built either within real estate companies or on users looking to store their prospective properties as objects.

##### Future work might focus on creating child classes for other classes of real estate such as industrial, commercial, and land in addition to residential.

In [34]:
building1 = RealEstate(prop = 'Clearview Residential Five Story Apartment',
                       price = 4800000,
                       prop_owner = 'Brookfield Asset Management',
                       prov = 'ON')

building2 = RealEstate(prop = 'Surrey Community Centre',
                       price = 1905000,
                       prop_owner = 'City of Vancouver',
                       prov = 'BC')

home1 = Residential(prop = 'The Bronson Home',
                       price = 680000,
                       prop_owner = 'Brookfield Asset Management',
                       area = 'Quinterra',
                       city = 'Ottawa',
                       prov = 'ON',
                       sq_footage = 2600,
                       year_built = 2003)

home2 = Residential(prop = 'Mill Cottage',
                       price = 1950260,
                       prop_owner = 'Big Houses Inc.',
                       area = 'Rockcliff',
                       city = 'Ottawa',
                       prov = 'ON',
                       sq_footage = 8600,
                       year_built = 1926)

#### We can print or return information on the objects by calling them. Note that residential objects have more attributes than general real estate objects.

In [35]:
print(building1,'\n\n',
      building2,'\n\n',
      home1,'\n\n',
      home2)

Clearview Residential Five Story Apartment
    Price: $4800000
    Legal owner : Brookfield Asset Management
    Province: ON

 Surrey Community Centre
    Price: $1905000
    Legal owner : City of Vancouver
    Province: BC

 The Bronson Home
    Price: $680000
    Legal owner : Brookfield Asset Management
    Area: Quinterra
    City: Ottawa
    Province: ON
    Square Footage: 2600
    Year Built: 2003

 Mill Cottage
    Price: $1950260
    Legal owner : Big Houses Inc.
    Area: Rockcliff
    City: Ottawa
    Province: ON
    Square Footage: 8600
    Year Built: 1926

#### We can also get specific information from those objects and use them to create a [property, price] dataframe for use in another module. See the documentation for all available get methods.

In [61]:
print('RANDOM GET STATEMENT EXAMPLES:\n',
      home1.getPropOwner(),
      home2.getPropOwner(),
      home1.getPrice(),
      home2.getPrice(),
      home1.getSq_footage(),
      home2.getProp(), 
      RealEstate.props_initialized, 
      '----------END----------', sep = '\n')

# Store objects in a list
properties = [building1, building2, home1, home2]

# Add their name and price attributes to a list
props = []
prices = []
for i in properties:
    props += [i.getProp()]
    prices += [i.getPrice()]

# Create a property dataframe
df = pd.DataFrame({'Properties': props, 'Prices': prices}); df

RANDOM GET STATEMENT EXAMPLES:

Brookfield Asset Management
Big Houses Inc.
680000
1950260
2600
Mill Cottage
12
----------END----------

                                   Properties   Prices
0  Clearview Residential Five Story Apartment  4800000
1                     Surrey Community Centre  1905000
2                            The Bronson Home   680000
3                                Mill Cottage  1950260

### Module 2: Mortgage Affordability Filter

##### This module includes a function, ```property_filter()```, which filters data frames to yield affordable properties given a user's inputs. We first import or create a dataset of properties/areas and their prices on which to apply the function.

In [2]:
## Import property dataset
df = pd.read_csv('vancouver_area_testing_set.csv', header = 0)

## Minor dataframe adjustment
van_area = df.loc[:,['Area', 'House Price']]; van_area

                         Area  House Price
0         Downtown & Westside      3118200
1              West Vancouver      2743600
2             North Vancouver      1665100
3                    Richmond      1581600
4               South Burnaby      1564000
5                  Port Moody      1515600
6              East Vancouver      1507200
7               North Burnaby      1502200
8   South Surrey & White Rock      1443500
9                East Burnaby      1281700
10                  Coquitlam      1262100
11                 Tsawwassen      1153300
12            New Westminster      1127200
13                    Langley      1090800
14                 Cloverdale      1087400
15             Central Surrey      1086300
16                     Ladner      1042000
17             Port Coquitlam      1034400
18                   Squamish      1016600
19               North Surrey      1015700
20               Pitt Meadows       974800
21                North Delta       972500
22                Maple Ridge       884200
23                 Abbotsford       873600
24                    Mission       726000

#### Applying the property filter with ***a known*** mortgage rate

- Selected dataset: 
    - vancouver neighbourhood dataset


- Client or self information about:
    - your maximum possible downpayment (what have you saved for your home?)
    - your mortgage rate (determined based on the term length and bank you chose)
    - your max monthly payment (determined by your income and other expense variables
    - and your max eligible loan (determined by your downpayment and other variables)

Since we know the mortgage rate we simply use and enter that information as is.

- Parameters:
    - property_data       = van_area
    - downpayment         = 300'000
    - **mortgage_rate       = 2.34%**
    - mortgage_term       =
    - max_monthly_payment = 2950
    - max_loan            = 5'000'000

In [9]:
property_filter(property_data = van_area,
               downpayment = 290000,
               mortgage_rate = 2.34,
               max_monthly_payment = 3800,
               max_loan = 5000000)

You can afford 13 properties from the 25 you've provided.

,Property/Area,Price,Minimum_Downpayment,Mortgage_Insurance,Principal,Monthly_Payment,Shortest_Amortization,Total_Interest,Net_Cost
12,New Westminster,1127200,225440.0,0,837200,3688.72,25.0,269407.42,1396607.42
13,Langley,1090800,218160.0,0,800800,3754.69,23.0,235494.52,1326294.52
14,Cloverdale,1087400,217480.0,0,797400,3738.75,23.0,234487.26,1321887.26
15,Central Surrey,1086300,217260.0,0,796300,3733.59,23.0,234171.27,1320471.27
16,Ladner,1042000,208400.0,0,752000,3779.99,21.0,200549.01,1242549.01
17,Port Coquitlam,1034400,206880.0,0,744400,3741.78,21.0,198530.05,1232930.05
18,Squamish,1016600,203320.0,0,726600,3793.89,20.0,183926.18,1200526.18
19,North Surrey,1015700,203140.0,0,725700,3789.19,20.0,183705.79,1199405.79
20,Pitt Meadows,974800,72480.0,0,684800,3723.38,19.0,164131.04,1138931.04
21,North Delta,972500,72250.0,0,682500,3710.88,19.0,163572.24,1136072.24
22,Maple Ridge,884200,63420.0,0,594200,3713.19,16.0,118724.12,1002924.12
23,Abbotsford,873600,62360.0,0,583600,3646.95,16.0,116606.18,990206.18
24,Mission,726000,47600.0,0,436000,3749.55,11.0,58933.11,784933.11

#### Applying the property filter with **an unknown** mortgage rate

- Selected dataset: 
    - vancouver neighbourhood dataset


- Client or self information about:
    - reapply the variables as before
    - additionally we include a mortgage term (the duration of your interest contract). This value is used to estimate an average Canadian interest rate based on term length.


- Parameters:
    - property_data       = van_area
    - downpayment         = 300'000
    - mortgage_rate       =
    - **mortgage_term       = 8**
    - max_monthly_payment = 2950,
    - max_loan            = 5'000'000

In [10]:
property_filter(property_data = van_area,
               downpayment = 290000,
               mortgage_term = 8,
               max_monthly_payment = 3800,
               max_loan = 5000000)

You can afford 13 properties from the 25 you've provided.

,Property/Area,Price,Minimum_Downpayment,Mortgage_Insurance,Principal,Monthly_Payment,Shortest_Amortization,Total_Interest,Net_Cost
12,New Westminster,1127200,225440.0,0,837200,3749.20,25.0,287561.33,1414761.33
13,Langley,1090800,218160.0,0,800800,3694.17,24.0,263111.57,1353911.57
14,Cloverdale,1087400,217480.0,0,797400,3795.63,23.0,250185.75,1337585.75
15,Central Surrey,1086300,217260.0,0,796300,3790.39,23.0,249848.84,1336148.84
16,Ladner,1042000,208400.0,0,752000,3700.33,22.0,224887.17,1266887.17
17,Port Coquitlam,1034400,206880.0,0,744400,3794.20,21.0,211738.77,1246138.77
18,Squamish,1016600,203320.0,0,726600,3703.47,21.0,206675.98,1223275.98
19,North Surrey,1015700,203140.0,0,725700,3698.89,21.0,206411.77,1222111.77
20,Pitt Meadows,974800,72480.0,0,684800,3770.97,19.0,174981.88,1149781.88
21,North Delta,972500,72250.0,0,682500,3758.31,19.0,174386.08,1146886.08
22,Maple Ridge,884200,63420.0,0,594200,3753.66,16.0,126503.64,1010703.64
23,Abbotsford,873600,62360.0,0,583600,3686.70,16.0,124246.84,997846.84
24,Mission,726000,47600.0,0,436000,3778.27,11.0,62731.84,788731.84

##### We notice that the Total_Interest rate columns have increased values from before. 

##### To see what interest rate was applied we can use the ```mort_term(term)``` function. It gives us an interest rate of 2.4843% which is higher than the one we previously used at 2.34%

In [17]:
print(mort_rate(8),'\n')

mort_rate?

2.4843

Signature: mort_rate(term)
Docstring:
If no mortgage rate is specified this function can be used to
return an estimated mortgage rate based on a regression fit (R^2 = 0.926)
on average Canadian mortgage rates for possible term lengths.
(https://www.superbrokers.ca/tools/mortgage-rates-comparison/)

Arguments
----------
term : int
    contract length in years (from 1 to 10 years)

Return
------
float
    interest rate
File:      c:\users\luka\desktop\lab2_private_mortgage_package\mortgage_package\mortgages\mortgage_estimator.py
Type:      function

##### There are several other functions we can use in this module to get different pieces of information. For example:

- ```min_downpayment(price) --> ``` minimum required downpayment on a home
- ```mortgage_insurance(price, downpayment) --> ``` the cost of mortgage default insurance
- ```optimal_monthly_payment(principal, mortgage_rate, max_monthly_payment) --> ``` the affordable monthly payment required to pay off the principal in the shortest amount of years
- ```monthly_payment(principal, mortgage_rate, amortization) --> ``` monthly payment required for the given amortization period
- ```total_interest(principal, mortgage_rate, monthly_payment) --> ``` cumulative interest paid on principal